<nav class="navbar">
  <div class="nav-container">
    <div class="nav-title">
      <h3>Biblioteca Cultural</h3>
    </div>

    <ul class="nav-link">
      <li><a routerLink="/">Início</a></li>
      <li><a routerLink="/catalogo">Catálogo de Livros</a></li>
      <li><a routerLink="/reservas">Reserva de Cabines</a></li>
      <li><a routerLink="/eventos">Eventos</a></li>
      <li><a routerLink="/contato">Contato</a></li>
    </ul>

    <div class="nav-login">
      <a routerLink="/login">Login</a>
    </div>
  </div>
</nav>