<div class="footer">
  <div class="contato">
    <h3>Contato</h3>
    <p><strong>Telefone</strong> +55 (83)9 9340-5215</p>
    <p><strong>E-mail </strong>henryreidelastoradorlenda10@gmail.com</p>
  </div>
  <div class="rede social">
    <h3>participantes</h3>
    <ul>
      <li><a href="https://github.com/karnoak">Henry Mikael</a></li>
      <li><a href="https://github.com/arthurformiga">Arthur Foiga</a></li>
      <li><a href="https://github.com/oocastro">Kauã gastro</a></li>
      <li><a href=""></a>Gustavo Guanabara</li>
      <li><a href=""></a>Yuri Menendez</li>
      <li><a href=""></a>Rafael Madeira</li>
    </ul>
  </div>
</div>